## Logistics Performance
Due to the recent COVID-19 pandemic across the globe, many individuals are increasingly turning to online platforms like Shopee to purchase their daily necessities. This surge in online orders has placed a strain onto Shopee and our logistics providers but customer expectations on the timely delivery of their goods remain high. On-time delivery is arguably one of the most important factors of success in the eCommerce industry and now more than ever, we need to ensure the orders reach our buyers on time in order to build our users’ confidence in us.

In order to handle the millions of parcels that need to be delivered everyday, we have engaged multiple logistics providers across the region. Only the best logistics providers that are able to meet Shopee’s delivery standards are partnered with us.

The performance of these providers is monitored regularly and each provider is held accountable based on the Service Level Agreements (SLA). Late deliveries are flagged out and penalties are imposed on the providers to ensure they perform their utmost.

The consistent monitoring and process of holding our logistics providers accountable allows us to maintain our promise of timely deliveries to our buyers.

## Task
Identify all the orders that are considered late depending on the Service Level Agreements (SLA) with our Logistics Provider.

For the purpose of this question, assume that all deliveries are considered successful by the second attempt.

## Basic Concepts
- Each orderid represents a distinct transaction on Shopee.
- SLA can vary across each route (A route is defined as Seller’s Location to Buyer’s Location) - Refer to SLA_matrix.xlsx
- Pick Up Time is defined as the time when the 3PL picks up the parcel and begins to process for delivery. It marks the start of the SLA calculation.
- Delivery Attempt is defined as an attempt made by the 3PL to deliver the parcel to the customer. It may or may not be delivered successfully. In the case when it is unsuccessful, a 2nd attempt will be made. A parcel that has no 2nd attempt is deemed to have been successfully delivered on the 1st attempt.
- All time formats are stored in epoch time based on Local Time (GMT+8).
Only consider the date when determining if the order is late; ignore the time.
Working Days are defined as Mon - Sat, Excluding Public Holidays.
- SLA calculation begins from the next day after pickup (Day 0 = Day of Pickup; Day 1 = Next Day after Pickup)
2nd Attempt must be no later than 3 working days after the 1st Attempt, regardless of origin to destination route (Day 0 = Day of 1st Attempt; Day 1 = Next Day after 1st Attempt).

Only consider the date when determining if the order is late; ignore the time.

Assume the following Public Holidays: 

- 2020-03-08 (Sunday);
- 2020-03-25 (Wednesday);
- 2020-03-30 (Monday);
- 2020-03-31 (Tuesday)

In [1]:
import pandas as pd
import datetime
import numpy as np
from datetime import datetime, date

In [3]:
df = pd.read_csv('dataset/delivery_orders_march.csv')

In [4]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [5]:
# 2020-03-08 (Sunday);
# 2020-03-25 (Wednesday);
# 2020-03-30 (Monday);
# 2020-03-31 (Tuesday)

df1 = df.copy()
df1['pick'] = df['pick'].apply(lambda x: datetime.fromtimestamp(x).date())
df1['1st_deliver_attempt'] = df['1st_deliver_attempt'].apply(lambda x: datetime.fromtimestamp(x).date())
df1['2nd_deliver_attempt'] = df['2nd_deliver_attempt'].apply(lambda x: ""  if np.isnan(x) else datetime.fromtimestamp(x).date())

df1.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,2020-03-02,2020-03-05,,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,2020-03-04,2020-03-06,2020-03-10,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,2020-03-04,2020-03-06,,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,2020-03-05,2020-03-07,,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,2020-03-04,2020-03-06,,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [6]:
def convert(x):
    if str.lower(x).find('manila') >= 0:
        return 'manila'
    elif str.lower(x).find('luzon') >= 0:
        return 'luzon'
    elif str.lower(x).find('visayas') >= 0:
        return 'visayas'
    elif str.lower(x).find('mindanao') >= 0:
        return 'mindanao'
    else:
        return 1

df1['buyeraddress'] = df['buyeraddress'].apply(lambda x: convert(x))
df1['selleraddress'] = df['selleraddress'].apply(lambda x: convert(x))
df1[df1['selleraddress']==1]

Empty DataFrame
Columns: [orderid, pick, 1st_deliver_attempt, 2nd_deliver_attempt, buyeraddress, selleraddress]
Index: []

In [7]:
df1.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,2020-03-02,2020-03-05,,manila,manila
1,2219624609,2020-03-04,2020-03-06,2020-03-10,manila,manila
2,2220979489,2020-03-04,2020-03-06,,manila,manila
3,2221066352,2020-03-05,2020-03-07,,manila,manila
4,2222478803,2020-03-04,2020-03-06,,luzon,manila

In [8]:
df1['slatxt'] = df1['buyeraddress']+df1['selleraddress']
df1

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,slatxt
0,2215676524,2020-03-02,2020-03-05,,manila,manila,manilamanila
1,2219624609,2020-03-04,2020-03-06,2020-03-10,manila,manila,manilamanila
2,2220979489,2020-03-04,2020-03-06,,manila,manila,manilamanila
3,2221066352,2020-03-05,2020-03-07,,manila,manila,manilamanila
4,2222478803,2020-03-04,2020-03-06,,luzon,manila,luzonmanila
5,2222597288,2020-03-04,2020-03-07,,manila,manila,manilamanila
6,2222738456,2020-03-02,2020-03-05,2020-03-09,manila,manila,manilamanila
7,2224695304,2020-03-02,2020-03-10,,manila,manila,manilamanila
8,2224704587,2020-03-04,2020-03-05,2020-03-09,luzon,manila,luzonmanila
9,2225138267,2020-03-04,2020-03-10,,visayas,manila,visayasmanila
10,2225861241,2020-03-07,2020-03-10,,manila,manila,manilamanila
11,2226935316,2020-03-02,2020-03-05,,luzon,manila,luzonmanila
12,2226951056,2020-03-04,2020-03-06,,manila,manila,manilamanila
13,2227381103,2020-03-04,2020-03-07,,luzon,manila,luzonmanila
14,2227760598,2020-03-02,2020-03-07,,visayas,manila,visayasmanila
15,2227768858,2020-03-02,2020-03-04,,manila,manila,manilamanila
16,2227771109,2020-03-02,2020-03-04,2020-03-05,manila,manila,manilamanila
17,2227783105,2020-03-02,2020-03-05,2020-03-07,manila,manila,manilamanila
18,2227783217,2020-03-02,2020-03-05,,manila,manila,manilamanila
19,2227790841,2020-03-02,2020-03-10,2020-03-18,mindanao,manila,mindanaomanila
20,2227812042,2020-03-04,2020-03-07,,manila,manila,manilamanila
21,2227816770,2020-03-02,2020-03-06,2020-03-07,manila,manila,manilamanila
22,2227817800,2020-03-02,2020-03-11,,visayas,manila,visayasmanila
23,2227824091,2020-03-02,2020-03-10,2020-03-11,mindanao,manila,mindanaomanila
24,2227831996,2020-03-02,2020-03-06,2020-03-10,manila,manila,manilamanila
25,2227839899,2020-03-06,2020-03-09,,manila,manila,manilamanila
26,2227840284,2020-03-04,2020-03-06,,manila,manila,manilamanila
27,2227846339,2020-03-02,2020-03-11,,visayas,manila,visayasmanila
28,2227847460,2020-03-04,2020-03-07,,manila,manila,manilamanila
29,2227849732,2020-03-02,2020-03-09,,manila,manila,manilamanila
...,...,...,...,...,...,...,...
3176283,31491640391449,2020-04-04,2020-04-06,2020-04-07,luzon,manila,luzonmanila
3176284,31493517401738,2020-04-02,2020-04-04,,luzon,manila,luzonmanila
3176285,31494032858185,2020-04-03,2020-04-07,,manila,manila,manilamanila
3176286,31495496329892,2020-04-03,2020-04-04,,manila,manila,manilamanila
3176287,31495863382024,2020-04-03,2020-04-06,,luzon,manila,luzonmanila
3176288,31496014543125,2020-04-03,2020-04-06,,manila,manila,manilamanila
3176289,31496515299075,2020-04-03,2020-04-06,,manila,manila,manilamanila
3176290,31496859384053,2020-04-02,2020-04-06,,mindanao,manila,mindanaomanila
3176291,31497218807974,2020-04-02,2020-04-03,2020-04-07,luzon,manila,luzonmanila
3176292,31497243491139,2020-04-02,2020-04-04,,manila,manila,manilamanila
3176293,31497388770741,2020-04-03,2020-04-06,2020-04-07,manila,manila,manilamanila
3176294,31497446087640,2020-04-03,2020-04-07,,manila,manila,manilamanila
3176295,31498926689965,2020-04-04,2020-04-06,,manila,manila,manilamanila
3176296,31499224767715,2020-04-04,2020-04-06,,manila,manila,manilamanila
3176297,31499744688758,2020-04-02,2020-04-04,,manila,manila,manilamanila
3176298,31500223560475,2020-04-03,2020-04-06,2020-04-07,manila,manila,manilamanila
3176299,31501039548035,2020-04-02,2020-04-04,,luzon,manila,luzonmanila
3176300,31501293387173,2020-04-03,2020-04-04,,manila,manila,manilamanila
3176301,31501334465889,2020-04-02,2020-04-04,,manila,manila,manilamanila
3176302,31501424794332,2020-04-02,2020-04-06,,visayas,manila,visayasmanila
3176303,31501457052965,2020-04-03,2020-04-06,,manila,manila,manilamanila
3176304,31501925224145,2020-04-04,2020-04-07,,luzon,manila,luzonmanila
3176305,31502339045455,2020-04-03,2020-04-07,,manila,manila,manilamanila
3176306,31502490611412,2020-04-02,2020-04-04,2020-04-06,luzon,manila,luzonmanila
3176307,31503788156046,2020-04-03,2020-04-04,,manila,manila,manilamanila
3176308,31504087640510,2020-04-02,2020-04-04,,manila,manila,manilamanila
3176309,31504147352227,2020-04-03,2020-04-06,2020-04-07,manila,manila,manilamanila
3176310,31504462290482,2020-04-02,2020-04-04,,manila,manila,manilamanila
3176311,31504851495943,2020-04-03,2020-04-07,,luzon,manila,luzonmanila
3176312,31505199116340,2020-04-02,2020-04-06,2020-04-07,luzon,manila,luzonmanila

In [9]:
def sladays(x):
    if x == "manilamanila": return 3
    elif x == "manilaluzon": return 5
    elif x == "manilavisayas": return 7
    elif x == "manilamindanao": return 7
    elif x == "luzonmanila": return 5
    elif x == "luzonluzon": return 5
    elif x == "luzonvisayas": return 7
    elif x == "luzonmindanao": return 7
    elif x == "visayasmanila": return 7
    elif x == "visayasluzon": return 7
    elif x == "visayasvisayas": return 7
    elif x == "visayasmindanao": return 7
    elif x == "mindanaomanila": return 7
    elif x == "mindanaoluzon": return 7
    elif x == "mindanaovisayas": return 7
    elif x == "mindanaomindanao": return 7
    else: return 0

df1['sla'] = df1['slatxt'].apply(lambda x: sladays(x))

In [10]:
df1

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,slatxt,sla
0,2215676524,2020-03-02,2020-03-05,,manila,manila,manilamanila,3
1,2219624609,2020-03-04,2020-03-06,2020-03-10,manila,manila,manilamanila,3
2,2220979489,2020-03-04,2020-03-06,,manila,manila,manilamanila,3
3,2221066352,2020-03-05,2020-03-07,,manila,manila,manilamanila,3
4,2222478803,2020-03-04,2020-03-06,,luzon,manila,luzonmanila,5
5,2222597288,2020-03-04,2020-03-07,,manila,manila,manilamanila,3
6,2222738456,2020-03-02,2020-03-05,2020-03-09,manila,manila,manilamanila,3
7,2224695304,2020-03-02,2020-03-10,,manila,manila,manilamanila,3
8,2224704587,2020-03-04,2020-03-05,2020-03-09,luzon,manila,luzonmanila,5
9,2225138267,2020-03-04,2020-03-10,,visayas,manila,visayasmanila,7
10,2225861241,2020-03-07,2020-03-10,,manila,manila,manilamanila,3
11,2226935316,2020-03-02,2020-03-05,,luzon,manila,luzonmanila,5
12,2226951056,2020-03-04,2020-03-06,,manila,manila,manilamanila,3
13,2227381103,2020-03-04,2020-03-07,,luzon,manila,luzonmanila,5
14,2227760598,2020-03-02,2020-03-07,,visayas,manila,visayasmanila,7
15,2227768858,2020-03-02,2020-03-04,,manila,manila,manilamanila,3
16,2227771109,2020-03-02,2020-03-04,2020-03-05,manila,manila,manilamanila,3
17,2227783105,2020-03-02,2020-03-05,2020-03-07,manila,manila,manilamanila,3
18,2227783217,2020-03-02,2020-03-05,,manila,manila,manilamanila,3
19,2227790841,2020-03-02,2020-03-10,2020-03-18,mindanao,manila,mindanaomanila,7
20,2227812042,2020-03-04,2020-03-07,,manila,manila,manilamanila,3
21,2227816770,2020-03-02,2020-03-06,2020-03-07,manila,manila,manilamanila,3
22,2227817800,2020-03-02,2020-03-11,,visayas,manila,visayasmanila,7
23,2227824091,2020-03-02,2020-03-10,2020-03-11,mindanao,manila,mindanaomanila,7
24,2227831996,2020-03-02,2020-03-06,2020-03-10,manila,manila,manilamanila,3
25,2227839899,2020-03-06,2020-03-09,,manila,manila,manilamanila,3
26,2227840284,2020-03-04,2020-03-06,,manila,manila,manilamanila,3
27,2227846339,2020-03-02,2020-03-11,,visayas,manila,visayasmanila,7
28,2227847460,2020-03-04,2020-03-07,,manila,manila,manilamanila,3
29,2227849732,2020-03-02,2020-03-09,,manila,manila,manilamanila,3
...,...,...,...,...,...,...,...,...
3176283,31491640391449,2020-04-04,2020-04-06,2020-04-07,luzon,manila,luzonmanila,5
3176284,31493517401738,2020-04-02,2020-04-04,,luzon,manila,luzonmanila,5
3176285,31494032858185,2020-04-03,2020-04-07,,manila,manila,manilamanila,3
3176286,31495496329892,2020-04-03,2020-04-04,,manila,manila,manilamanila,3
3176287,31495863382024,2020-04-03,2020-04-06,,luzon,manila,luzonmanila,5
3176288,31496014543125,2020-04-03,2020-04-06,,manila,manila,manilamanila,3
3176289,31496515299075,2020-04-03,2020-04-06,,manila,manila,manilamanila,3
3176290,31496859384053,2020-04-02,2020-04-06,,mindanao,manila,mindanaomanila,7
3176291,31497218807974,2020-04-02,2020-04-03,2020-04-07,luzon,manila,luzonmanila,5
3176292,31497243491139,2020-04-02,2020-04-04,,manila,manila,manilamanila,3
3176293,31497388770741,2020-04-03,2020-04-06,2020-04-07,manila,manila,manilamanila,3
3176294,31497446087640,2020-04-03,2020-04-07,,manila,manila,manilamanila,3
3176295,31498926689965,2020-04-04,2020-04-06,,manila,manila,manilamanila,3
3176296,31499224767715,2020-04-04,2020-04-06,,manila,manila,manilamanila,3
3176297,31499744688758,2020-04-02,2020-04-04,,manila,manila,manilamanila,3
3176298,31500223560475,2020-04-03,2020-04-06,2020-04-07,manila,manila,manilamanila,3
3176299,31501039548035,2020-04-02,2020-04-04,,luzon,manila,luzonmanila,5
3176300,31501293387173,2020-04-03,2020-04-04,,manila,manila,manilamanila,3
3176301,31501334465889,2020-04-02,2020-04-04,,manila,manila,manilamanila,3
3176302,31501424794332,2020-04-02,2020-04-06,,visayas,manila,visayasmanila,7
3176303,31501457052965,2020-04-03,2020-04-06,,manila,manila,manilamanila,3
3176304,31501925224145,2020-04-04,2020-04-07,,luzon,manila,luzonmanila,5
3176305,31502339045455,2020-04-03,2020-04-07,,manila,manila,manilamanila,3
3176306,31502490611412,2020-04-02,2020-04-04,2020-04-06,luzon,manila,luzonmanila,5
3176307,31503788156046,2020-04-03,2020-04-04,,manila,manila,manilamanila,3
3176308,31504087640510,2020-04-02,2020-04-04,,manila,manila,manilamanila,3
3176309,31504147352227,2020-04-03,2020-04-06,2020-04-07,manila,manila,manilamanila,3
3176310,31504462290482,2020-04-02,2020-04-04,,manila,manila,manilamanila,3
3176311,31504851495943,2020-04-03,2020-04-07,,luzon,manila,luzonmanila,5
3176312,31505199116340,2020-04-02,2020-04-06,2020-04-07,luzon,manila,luzonmanila,5

In [13]:
# Testing

excludedays = [
    #date(2020, 3, 8), # Sunday
    date(2020, 3, 25), # Wednesday
    date(2020, 3, 30), # Monday
    date(2020, 3, 31) # Tuesday
]

start = date(2020, 3, 8)
end = date(2020, 3, 30)
for i in range(len(excludedays)):
    if start <= excludedays[i] < end:
        print("Yes")
    else:
        print("NO")

Yes
NO
NO

In [16]:
start = date(2020, 3, 8)
end = date(2020, 3, 30)
totaldays = 3
completewks = totaldays // 7
incompletewks = totaldays % 7
weekstart = date.weekday(start)
weekstart

6

In [18]:
completewks

0

In [17]:
if (weekstart + incompletewks) > 5: #(0 is monday)
    sundays = completewks + 1
else:
    sundays = completewks
            
# Deduct the Sundays
totaldays = totaldays - sundays
totaldays

2

In [ ]:
excludedays = [
    # date(2020, 3, 8), # Sunday. remove this because base case sunday is going to be removed
    date(2020, 3, 25), # Wednesday
    date(2020, 3, 30), # Monday
    date(2020, 3, 31) # Tuesday
]

def delta1(x):
    
    # Successful Delivery first attempt
    if x['2nd_deliver_attempt'] == "": # First Attempt
        totaldays = (x['1st_deliver_attempt']-x['pick']).days
        start = x['pick']
        end = x['1st_deliver_attempt']
        
        # Calculate number of sundays
        completewks = totaldays // 7
        incompletewks = totaldays % 7
        weekstart = date.weekday(start)
        if (weekstart + incompletewks) > 5: #(0 is monday)
            sundays = completewks + 1
        else:
            sundays = completewks
            
        # Deduct the Sundays
        totaldays = totaldays - sundays
        
        # remove number of P.H.
        for i in range(len(excludedays)):
            if start < excludedays[i] <= end:
                totaldays = totaldays - 1
        
        # check if SLA met
        if totaldays <= x['sla']: return 0
        else: return 1
    
    # Successful Delivery Second attempt
    else:
        totaldays = (x['1st_deliver_attempt']-x['pick']).days
        start = x['pick']
        end = x['1st_deliver_attempt']
        
        # Calculate number of sundays
        completewks = totaldays // 7
        incompletewks = totaldays % 7
        weekstart = date.weekday(start)
        if (weekstart + incompletewks) > 5: #(0 is monday)
            sundays = completewks + 1
        else:
            sundays = completewks
            
        # Deduct the Sundays
        totaldays = totaldays - sundays
        
        # remove number of P.H.
        for i in range(len(excludedays)):
            if start < excludedays[i] <= end:
                totaldays = totaldays - 1
        
        # check if SLA met
        if totaldays > x['sla']: return 1
        else: # checking if second attempt is within
            
            totaldays = (x['2nd_deliver_attempt']-x['1st_deliver_attempt']).days
            start = x['1st_deliver_attempt']
            end = x['2nd_deliver_attempt']
            
            # Calculate number of sundays
            completewks = totaldays // 7
            incompletewks = totaldays % 7
            weekstart = date.weekday(start)
            if (weekstart + incompletewks) > 5: #(0 is monday)
                sundays = completewks + 1
            else:
                sundays = completewks

            # Deduct the Sundays
            totaldays = totaldays - sundays

            # remove number of P.H.
            for i in range(len(excludedays)):
                if start < excludedays[i] <= end:
                    totaldays = totaldays - 1
                    
            if totaldays > 3: return 1
            else: return 0 # checking if second attempt is within

df1['islate'] = df1.apply(delta1, axis=1)

3

In [ ]:
submission = df1[['orderid', 'islate']]
submission.to_csv('submission.csv', index=False)