In [127]:
import pandas as pd
import datetime
import numpy as np

In [2]:

df = pd.read_csv('order_brush_order_new.csv')
base27=datetime.datetime.strptime('2019-12-27 00:00:00', '%Y-%m-%d %H:%M:%S')
df['seconds'] = df['event_time'].apply(lambda x : (datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')-base27).days*86400+(datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')-base27).seconds)
df=df.sort_values(by='seconds')

In [3]:
df.describe(include='all')

,orderid,shopid,userid,event_time,seconds
count,2.227500e+05,2.227500e+05,2.227500e+05,222750,222750.000000
unique,NaN,NaN,NaN,121064,NaN
top,NaN,NaN,NaN,2019-12-30 23:31:45,NaN
freq,NaN,NaN,NaN,23,NaN
mean,3.130027e+13,9.433117e+07,9.802880e+07,NaN,225066.518290
std,1.222774e+11,5.695790e+07,6.839048e+07,NaN,122277.428744
min,3.107520e+13,1.000900e+04,1.000700e+04,NaN,0.000000
25%,3.120360e+13,4.980267e+07,3.508127e+07,NaN,128396.000000
50%,3.130561e+13,9.033636e+07,9.309625e+07,NaN,230414.000000
75%,3.140604e+13,1.475053e+08,1.590612e+08,NaN,330836.250000
max,3.150720e+13,2.154352e+08,2.155262e+08,NaN,431996.000000

In [4]:
df['event_time'].sort_values()

150060    2019-12-27 00:00:00
25985     2019-12-27 00:00:00
81020     2019-12-27 00:00:00
146598    2019-12-27 00:00:02
80355     2019-12-27 00:00:05
                 ...
43965     2019-12-31 23:59:43
206585    2019-12-31 23:59:47
160657    2019-12-31 23:59:51
126212    2019-12-31 23:59:51
179881    2019-12-31 23:59:56
Name: event_time, Length: 222750, dtype: object

In [5]:
df["shopuser"] = df.shopid.astype(str) +'-'+ df.userid.astype(str)

In [6]:
df

,orderid,shopid,userid,event_time,seconds,shopuser
150060,31075200506751,6042309,97707522,2019-12-27 00:00:00,0,6042309-97707522
25985,31075200506752,104804492,97707522,2019-12-27 00:00:00,0,104804492-97707522
81020,31075200506753,8715449,97707522,2019-12-27 00:00:00,0,8715449-97707522
146598,31075201870570,190969466,170182475,2019-12-27 00:00:02,2,190969466-170182475
80355,31075205798264,2859407,12532131,2019-12-27 00:00:05,5,2859407-12532131
...,...,...,...,...,...,...
114113,31507183252446,149254894,193333760,2019-12-31 23:59:43,431983,149254894-193333760
206585,31507187390691,147941492,40258063,2019-12-31 23:59:47,431987,147941492-40258063
126212,31507191066628,187123853,2338306,2019-12-31 23:59:51,431991,187123853-2338306
160657,31507191066627,154074176,2338306,2019-12-31 23:59:51,431991,154074176-2338306
179881,31507196146800,31844790,95161930,2019-12-31 23:59:56,431996,31844790-95161930

In [142]:

#only analyze transactions that's more than 3.

g = df.groupby(['shopid','userid'])

sdf = g.filter(lambda x: len(x['orderid'])>=3)


shopids = sdf['shopid'].unique()
result_df = pd.DataFrame(columns=['shopid','userid'])

i=0

for si in shopids:
    i=i+1
    if i%100==0:
        print('i: ',i)

    tdf = sdf[sdf['shopid']==si]
    seconds = tdf['seconds'].unique()
#     seconds = [i*30 for i in range(0, 2*5760)] # 5760
#     print('seconds, ',seconds)
    # seconds = [0]

    
    # print('result:',result_df)

    for s in seconds:
#         if s%1000==0:
#             print('s:',s)

        hdf = tdf[(tdf['seconds'] >= s) & (tdf['seconds']<=s+3600)]
        a =hdf.groupby(['shopid'], as_index=False)['orderid'].count().rename(columns={'orderid':'count'}) # transaction count
        b = hdf.groupby(['shopid', 'userid'], as_index=False).size().reset_index().rename(columns={0:'count'})
    #     print('b:', b)
        b = b[['shopid', 'count']].groupby('shopid', as_index=False).count()

    #     d=hdf.groupby(['shopid', 'userid'], as_index=False).size()
    #     print('a:',a)

    #     print('b:',b)
    #     print(a)
    #     print(b)
        shopids =a[((a/b>=3)['count'])]['shopid']
    #     print('shopids:',shopids)

        for c in shopids:
            udf = hdf[hdf['shopid']==c]
    #         udf = df[df['shopid']==145777302]
            for u in udf['userid']:
                if sum(udf['userid']==u)>=3:
    #                 print(u)
                    rdf=pd.DataFrame({'shopid':[c], 'userid':[u]})
                    result_df = pd.concat([result_df,rdf])

i:  100
i:  200
i:  300
i:  400
i:  500
i:  600
i:  700
i:  800

In [143]:
result_df

       shopid     userid
0    91799978  214814254
0    91799978  214814254
0    91799978  214814254
0    91799978   15697974
0    91799978   15697974
..        ...        ...
0    96757644  215243653
0    96757644  215243653
0   189544563     799445
0   189544563     799445
0   189544563     799445

[1993 rows x 2 columns]

In [144]:
suspicious_df = result_df[~result_df.duplicated()]
suspicious_df = suspicious_df.sort_values(by=['shopid','userid'])

In [145]:
suspicious_df.iloc[0]['shopid']

10159

In [146]:
data = pd.DataFrame(df['shopid'].unique(), columns = ['shopid'])
data['userid'] = '0'

for i in range(len(suspicious_df)):
    if data[data['shopid']==suspicious_df.iloc[i]['shopid']]['userid'].values=='0':
        data['userid'][data['shopid']==suspicious_df.iloc[i]['shopid']] = str(suspicious_df.iloc[i]['userid'])
#         print(str(suspicious_df.iloc[i]['userid']))
        print(data[data['shopid']==suspicious_df.iloc[i]['shopid']]['userid'])
        
    else:
        data['userid'][data['shopid']==suspicious_df.iloc[i]['shopid']] = data[data['shopid']==suspicious_df.iloc[i]['shopid']]['userid']+'&'+str(suspicious_df.iloc[i]['userid'])
        

data.to_csv('submission.csv', index=False)

<ipython-input-146-0bcb656006b1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['userid'][data['shopid']==suspicious_df.iloc[i]['shopid']] = str(suspicious_df.iloc[i]['userid'])
<ipython-input-146-0bcb656006b1>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['userid'][data['shopid']==suspicious_df.iloc[i]['shopid']] = data[data['shopid']==suspicious_df.iloc[i]['shopid']]['userid']+'&'+str(suspicious_df.iloc[i]['userid'])

1102    214988798
Name: userid, dtype: object
443    198097381
Name: userid, dtype: object
107    77819
Name: userid, dtype: object
4986    672345
Name: userid, dtype: object
1934    214495220
Name: userid, dtype: object
3625    740844
Name: userid, dtype: object
4265    170385453
Name: userid, dtype: object
2160    190449497
Name: userid, dtype: object
923    214992524
Name: userid, dtype: object
846    212200633
Name: userid, dtype: object
4131    72914921
Name: userid, dtype: object
641    264511
Name: userid, dtype: object
6448    181682008
Name: userid, dtype: object
328    7670129
Name: userid, dtype: object
5878    75558350
Name: userid, dtype: object
3626    62618064
Name: userid, dtype: object
554    141006168
Name: userid, dtype: object
2713    565381
Name: userid, dtype: object
3636    188942105
Name: userid, dtype: object
1291    122277324
Name: userid, dtype: object
4028    181408876
Name: userid, dtype: object
3249    15053804
Name: userid, dtype: object
1574    78451300
Name: userid, dtype: object
9999    214568881
Name: userid, dtype: object
4514    80690628
Name: userid, dtype: object
1704    16339607
Name: userid, dtype: object
8148    143847348
Name: userid, dtype: object
758    740844
Name: userid, dtype: object
203    425354
Name: userid, dtype: object
391    556867
Name: userid, dtype: object
2    9753706
Name: userid, dtype: object
10039    13135622
Name: userid, dtype: object
1983    197569856
Name: userid, dtype: object
301    139795934
Name: userid, dtype: object
15    148176353
Name: userid, dtype: object
28    84811421
Name: userid, dtype: object
1161    43131979
Name: userid, dtype: object
54    210920501
Name: userid, dtype: object
11669    8405753
Name: userid, dtype: object
568    95058664
Name: userid, dtype: object
1958    199416406
Name: userid, dtype: object
1800    152292010
Name: userid, dtype: object
5533    148215831
Name: userid, dtype: object
841    214546342
Name: userid, dtype: object
5810    136680607
Name: userid, dtype: object
1742    148215831
Name: userid, dtype: object
2119    156614746
Name: userid, dtype: object
2191    214588488
Name: userid, dtype: object
3842    48412388
Name: userid, dtype: object
217    128838735
Name: userid, dtype: object
413    195918606
Name: userid, dtype: object
4881    215424202
Name: userid, dtype: object
14623    32594
Name: userid, dtype: object
2481    128702876
Name: userid, dtype: object
1243    200925208
Name: userid, dtype: object
3486    211907762
Name: userid, dtype: object
1679    205729485
Name: userid, dtype: object
4924    214300427
Name: userid, dtype: object
5922    93880473
Name: userid, dtype: object
1907    192684666
Name: userid, dtype: object
17156    102125116
Name: userid, dtype: object
385    214094512
Name: userid, dtype: object
4917    115994773
Name: userid, dtype: object
3855    107170776
Name: userid, dtype: object
13585    154495684
Name: userid, dtype: object
290    4163235
Name: userid, dtype: object
975    89014205
Name: userid, dtype: object
8427    192400689
Name: userid, dtype: object
684    2824209
Name: userid, dtype: object
1876    193338089
Name: userid, dtype: object
512    213989374
Name: userid, dtype: object
6221    170673735
Name: userid, dtype: object
696    19037973
Name: userid, dtype: object
677    99997899
Name: userid, dtype: object
445    135952
Name: userid, dtype: object
340    9069878
Name: userid, dtype: object
11    1233930
Name: userid, dtype: object
1360    188025647
Name: userid, dtype: object
3373    88991923
Name: userid, dtype: object
48    174145893
Name: userid, dtype: object
357    192785138
Name: userid, dtype: object
872    114498557
Name: userid, dtype: object
5052    33794624
Name: userid, dtype: object
6123    144248285
Name: userid, dtype: object
1819    199416406
Name: userid, dtype: object
1044    15861876
Name: userid, dtype: object
8001    138388930
Name: userid, dtype: object
1909    107641182
Name: userid, dtype: object
5789    79239008
Name: userid, dtype: object
13844    105848455
Name: userid, dtype: object
98    10221040
Name: userid, dtype: object
919    205785599
Name: userid, dtype: object
2205    156774808
Name: userid, dtype: object
5006    2097773
Name: userid, dtype: object
567    71351517
Name: userid, dtype: object
2681    92223139
Name: userid, dtype: object
503    42816223
Name: userid, dtype: object
8166    214804722
Name: userid, dtype: object
6154    214226569
Name: userid, dtype: object
4933    81592089
Name: userid, dtype: object
348    50672876
Name: userid, dtype: object
136    214226569
Name: userid, dtype: object
69    3538134
Name: userid, dtype: object
2009    116055684
Name: userid, dtype: object
775    207435467
Name: userid, dtype: object
1216    2803721
Name: userid, dtype: object
6781    207880909
Name: userid, dtype: object
378    9837180
Name: userid, dtype: object
6582    214365114
Name: userid, dtype: object
4964    172106152
Name: userid, dtype: object
1366    179171579
Name: userid, dtype: object
2544    29857724
Name: userid, dtype: object
321    5307816
Name: userid, dtype: object
201    131375087
Name: userid, dtype: object
4288    213919641
Name: userid, dtype: object
1255    199382229
Name: userid, dtype: object
977    9837180
Name: userid, dtype: object
2212    1974334
Name: userid, dtype: object
3959    48207392
Name: userid, dtype: object
2381    214778616
Name: userid, dtype: object
8    2973390
Name: userid, dtype: object
380    60941758
Name: userid, dtype: object
867    61893096
Name: userid, dtype: object
4497    12425335
Name: userid, dtype: object
4005    152352709
Name: userid, dtype: object
1477    80682958
Name: userid, dtype: object
1351    33794624
Name: userid, dtype: object
172    2766278
Name: userid, dtype: object
1798    81928284
Name: userid, dtype: object
2819    101866283
Name: userid, dtype: object
848    112649507
Name: userid, dtype: object
1595    205785599
Name: userid, dtype: object
13283    172591713
Name: userid, dtype: object
1898    194833170
Name: userid, dtype: object
316    157936293
Name: userid, dtype: object
6450    29503
Name: userid, dtype: object
4336    215123671
Name: userid, dtype: object
1215    122507717
Name: userid, dtype: object
1989    194647522
Name: userid, dtype: object
862    213502289
Name: userid, dtype: object
1899    29466045
Name: userid, dtype: object
3836    183440131
Name: userid, dtype: object
835    43900335
Name: userid, dtype: object
4178    145715279
Name: userid, dtype: object
20    67554410
Name: userid, dtype: object
1735    10209247
Name: userid, dtype: object
772    215293398
Name: userid, dtype: object
429    81928284
Name: userid, dtype: object
4460    214778616
Name: userid, dtype: object
11546    11053808
Name: userid, dtype: object
833    199382229
Name: userid, dtype: object
6881    214628840
Name: userid, dtype: object
2768    30244568
Name: userid, dtype: object
4012    204863932
Name: userid, dtype: object
8080    177472272
Name: userid, dtype: object
2272    69523106
Name: userid, dtype: object
2612    166712192
Name: userid, dtype: object
843    96470129
Name: userid, dtype: object
6390    78903959
Name: userid, dtype: object
2188    197569856
Name: userid, dtype: object
6554    123158564
Name: userid, dtype: object
2684    77374158
Name: userid, dtype: object
857    77374158
Name: userid, dtype: object
17209    181942741
Name: userid, dtype: object
1331    1233930
Name: userid, dtype: object
2319    118860287
Name: userid, dtype: object
5577    26570682
Name: userid, dtype: object
104    24491487
Name: userid, dtype: object
579    65814291
Name: userid, dtype: object
8992    214695792
Name: userid, dtype: object
3286    186634585
Name: userid, dtype: object
2407    119785264
Name: userid, dtype: object
5216    144612139
Name: userid, dtype: object
736    211907762
Name: userid, dtype: object
1304    178640685
Name: userid, dtype: object
521    87846708
Name: userid, dtype: object
2711    214094512
Name: userid, dtype: object
6153    215427525
Name: userid, dtype: object
8724    3295689
Name: userid, dtype: object
760    81928284
Name: userid, dtype: object
1267    47750501
Name: userid, dtype: object
6117    7300419
Name: userid, dtype: object
256    133607969
Name: userid, dtype: object
4423    214680031
Name: userid, dtype: object
1825    9393781
Name: userid, dtype: object
58    15697974
Name: userid, dtype: object
720    214398364
Name: userid, dtype: object
928    39834931
Name: userid, dtype: object
505    79419297
Name: userid, dtype: object
14063    15826134
Name: userid, dtype: object
6219    189834273
Name: userid, dtype: object
232    44959060
Name: userid, dtype: object
1945    193338089
Name: userid, dtype: object
11097    89312509
Name: userid, dtype: object
996    124597967
Name: userid, dtype: object
4164    215243653
Name: userid, dtype: object
709    61348019
Name: userid, dtype: object
572    105731761
Name: userid, dtype: object
2828    214778616
Name: userid, dtype: object
5287    124597967
Name: userid, dtype: object
2888    150440717
Name: userid, dtype: object
6084    142710562
Name: userid, dtype: object
1892    108402614
Name: userid, dtype: object
1110    199696834
Name: userid, dtype: object
2813    197470611
Name: userid, dtype: object
10102    2434757
Name: userid, dtype: object
176    59440029
Name: userid, dtype: object

5233    214226569
Name: userid, dtype: object
3152    188187242
Name: userid, dtype: object
4658    80682958
Name: userid, dtype: object
7521    214778616
Name: userid, dtype: object
1592    81928284
Name: userid, dtype: object
7940    213714377
Name: userid, dtype: object
1437    10051694
Name: userid, dtype: object
260    214431654
Name: userid, dtype: object
2231    148215831
Name: userid, dtype: object
1607    207428158
Name: userid, dtype: object
8960    1276208
Name: userid, dtype: object
9420    51759862
Name: userid, dtype: object
490    9753706
Name: userid, dtype: object
2679    35639374
Name: userid, dtype: object
3621    212200633
Name: userid, dtype: object
4909    212200633
Name: userid, dtype: object
7932    31233680
Name: userid, dtype: object
1952    214345977
Name: userid, dtype: object
870    157946285
Name: userid, dtype: object
1844    199703906
Name: userid, dtype: object
1635    133542654
Name: userid, dtype: object
1648    178640685
Name: userid, dtype: object
920    215433596
Name: userid, dtype: object
19    46388757
Name: userid, dtype: object
11420    214705976
Name: userid, dtype: object
133    117199298
Name: userid, dtype: object
1972    81928284
Name: userid, dtype: object
56    200925208
Name: userid, dtype: object
4063    193415051
Name: userid, dtype: object
158    870607
Name: userid, dtype: object
5243    37915675
Name: userid, dtype: object
5008    46361526
Name: userid, dtype: object
6270    80682958
Name: userid, dtype: object
5362    211604080
Name: userid, dtype: object
7315    48412388
Name: userid, dtype: object
1305    92275977
Name: userid, dtype: object
7231    17722130
Name: userid, dtype: object
2315    21402690
Name: userid, dtype: object
1363    210701971
Name: userid, dtype: object
1204    214265994
Name: userid, dtype: object
2791    78685901
Name: userid, dtype: object
11311    51759862
Name: userid, dtype: object
1471    214747060
Name: userid, dtype: object
18410    12869645
Name: userid, dtype: object
4262    131515076
Name: userid, dtype: object
643    76441165
Name: userid, dtype: object
4076    26670670
Name: userid, dtype: object
4419    214327515
Name: userid, dtype: object
418    101296643
Name: userid, dtype: object
2350    215009429
Name: userid, dtype: object
153    215236192
Name: userid, dtype: object
17981    215408773
Name: userid, dtype: object
4389    48412388
Name: userid, dtype: object
4013    179997347
Name: userid, dtype: object
2383    18688337
Name: userid, dtype: object
548    86802680
Name: userid, dtype: object
4663    31892574
Name: userid, dtype: object
428    141499072
Name: userid, dtype: object
2550    192251866
Name: userid, dtype: object
4622    214094512
Name: userid, dtype: object
7949    152710183
Name: userid, dtype: object
3491    159124456
Name: userid, dtype: object
1804    142710562
Name: userid, dtype: object
4571    178640685
Name: userid, dtype: object
2918    110489903
Name: userid, dtype: object
13719    214778616
Name: userid, dtype: object
3829    214778616
Name: userid, dtype: object
3289    59725263
Name: userid, dtype: object
12758    40929352
Name: userid, dtype: object
1480    178491887
Name: userid, dtype: object
10    117286517
Name: userid, dtype: object
7134    62080153
Name: userid, dtype: object
2042    58467478
Name: userid, dtype: object
5190    214898782
Name: userid, dtype: object
12151    179065138
Name: userid, dtype: object
4555    73207860
Name: userid, dtype: object
5421    86570212
Name: userid, dtype: object
891    613919
Name: userid, dtype: object
9322    31713663
Name: userid, dtype: object
2053    158323877
Name: userid, dtype: object
2787    99517130
Name: userid, dtype: object
9657    67554410
Name: userid, dtype: object
3680    202574985
Name: userid, dtype: object
7586    214411855
Name: userid, dtype: object
1268    111115654
Name: userid, dtype: object
185    201343856
Name: userid, dtype: object
12547    63120351
Name: userid, dtype: object
7509    199382229
Name: userid, dtype: object
759    189631941
Name: userid, dtype: object
2651    70086843
Name: userid, dtype: object
1113    108214177
Name: userid, dtype: object
4144    169671453
Name: userid, dtype: object
8141    36097212
Name: userid, dtype: object
8507    215169091
Name: userid, dtype: object
5295    111390406
Name: userid, dtype: object
8862    169948888
Name: userid, dtype: object
13720    214778616
Name: userid, dtype: object
13718    214778616
Name: userid, dtype: object
18545    188431260
Name: userid, dtype: object
3762    156202149
Name: userid, dtype: object
4334    214778616
Name: userid, dtype: object
226    129084826
Name: userid, dtype: object
1791    160736815
Name: userid, dtype: object
3238    76102350
Name: userid, dtype: object
17957    204919399
Name: userid, dtype: object
291    202607600
Name: userid, dtype: object
1657    120099470
Name: userid, dtype: object
7667    69563623
Name: userid, dtype: object
1241    13949927
Name: userid, dtype: object
10937    74027394
Name: userid, dtype: object
11616    180862522
Name: userid, dtype: object
3960    212200872
Name: userid, dtype: object
927    199382229
Name: userid, dtype: object
1442    203554877
Name: userid, dtype: object
4211    162389170
Name: userid, dtype: object
8981    119654795
Name: userid, dtype: object
17104    79918735
Name: userid, dtype: object
1708    18885346
Name: userid, dtype: object
13717    214778616
Name: userid, dtype: object
5521    78903959
Name: userid, dtype: object
4536    214617593
Name: userid, dtype: object
3266    212200633
Name: userid, dtype: object
5036    93783570
Name: userid, dtype: object
1166    114282846
Name: userid, dtype: object
2260    199416406
Name: userid, dtype: object
2690    6059093
Name: userid, dtype: object
1227    148215831
Name: userid, dtype: object
5863    193338089
Name: userid, dtype: object
2955    50198835
Name: userid, dtype: object
4422    211296094
Name: userid, dtype: object
2022    215115251
Name: userid, dtype: object
3312    1866916
Name: userid, dtype: object
8063    96046105
Name: userid, dtype: object
10349    215301243
Name: userid, dtype: object
15404    12597591
Name: userid, dtype: object
1995    81928284
Name: userid, dtype: object
5089    132704747
Name: userid, dtype: object
3140    187697407
Name: userid, dtype: object
2352    132397558
Name: userid, dtype: object
7764    98709440
Name: userid, dtype: object
376    71152760
Name: userid, dtype: object
7190    121537666
Name: userid, dtype: object
766    101832161
Name: userid, dtype: object
552    126543234
Name: userid, dtype: object
3200    199382229
Name: userid, dtype: object
5477    210932914
Name: userid, dtype: object
14672    158048102
Name: userid, dtype: object
3081    8330029
Name: userid, dtype: object
4861    144902703
Name: userid, dtype: object
2973    174783274
Name: userid, dtype: object
5283    48412388
Name: userid, dtype: object
5236    2677380
Name: userid, dtype: object
6426    31215088
Name: userid, dtype: object
2005    31916119
Name: userid, dtype: object
10670    211943763
Name: userid, dtype: object
83    27456547
Name: userid, dtype: object
15241    799445
Name: userid, dtype: object
14038    214925963
Name: userid, dtype: object
3159    191211430
Name: userid, dtype: object
6385    179171579
Name: userid, dtype: object
52    213646699
Name: userid, dtype: object
195    94497233
Name: userid, dtype: object
13227    4624716
Name: userid, dtype: object
5044    1762129
Name: userid, dtype: object
4037    105935455
Name: userid, dtype: object
1126    129799840
Name: userid, dtype: object
3138    121537666
Name: userid, dtype: object
7151    34132265
Name: userid, dtype: object
14653    89254393
Name: userid, dtype: object
5932    92521144
Name: userid, dtype: object
7874    214605778
Name: userid, dtype: object
17530    189834273
Name: userid, dtype: object
16539    73308605
Name: userid, dtype: object
12901    114282846
Name: userid, dtype: object
5779    198662175
Name: userid, dtype: object
10624    214111334
Name: userid, dtype: object
3435    52867898
Name: userid, dtype: object
1847    213646699
Name: userid, dtype: object

In [148]:
data[data['userid']!='0']

          shopid                                          userid
2        8715449                                         9753706
8       54615708  2973390&47919266&111115654&134786596&199416406
10     137739819                                       117286517
11      26218382                                         1233930
15       9374147                                       148176353
...          ...                                             ...
17530  203070501                                       189834273
17957  156995951                                       204919399
17981  129113839                                       215408773
18410  123401085                                        12869645
18545  155016230                                       188431260

[385 rows x 2 columns]